.main--filename-input-container {
  position: sticky;
  top: 0;

  padding: 8px 24px 16px;
  
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--color-bg);
}

.main--filename-input {
  flex-grow: 1;
}

.main--export-button {
  margin: 0.5em 0 0 1em;
}