<div class="header--container">
  <div class="header--content header--content__left-aligned">
    <stp-button (clicked)="newFile()">
      <i class="material-icons">insert_drive_file</i>
    </stp-button>
    <stp-button (clicked)="addFiles()">
      <i class="material-icons">library_add</i>
    </stp-button>
    <stp-button (clicked)="save()" *ngIf="route === '/main'">
      <i class="material-icons">save</i>
    </stp-button>
  </div>
  <div class="header--content header--content__right-aligned">
    <span class="header--version-text" *ngIf="developerMode">{{ versionText }}</span>
    <stp-button (clicked)="openDevTools()" *ngIf="developerMode">
      <i class="material-icons">code</i>
    </stp-button>
    <stp-button (clicked)="openSettings()">
      <i class="material-icons">settings</i>
    </stp-button>
  </div>
</div>