<div class="header--container">
  <div class="header--content header--content__left-aligned">
    <stp-button (clicked)="newFile()">
      <mat-icon>insert_drive_file</mat-icon>
    </stp-button>
    <stp-button (clicked)="addFiles()">
      <mat-icon>library_add</mat-icon>
    </stp-button>
    <stp-button (clicked)="save()" *ngIf="route === '/main'">
      <mat-icon>save</mat-icon>
    </stp-button>
  </div>
  <div class="header--content header--content__right-aligned">
    <span class="header--version-text" *ngIf="developerMode">{{ versionText }}</span>
    <stp-button (clicked)="openDevTools()" *ngIf="developerMode">
      <mat-icon>code</mat-icon>
    </stp-button>
    <stp-button (clicked)="openSettings()">
      <mat-icon>settings</mat-icon>
    </stp-button>
  </div>
</div>