.start--container {
  width: 100%;
  height: 100%;

  padding: 0 24px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.start--logo {
  height: 200px;
}

.start--button-group {
  min-height: 120px;
  max-height: 240px;
  min-width: 120px * 2 + 16px;
  max-width: 240px * 2 + 16px;

  // Always try and stretch as large as possible
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.start--button {
  transition: border-color var(--animation-medium) ease, color var(--animation-medium) ease, transform var(--animation-medium) ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--contrast-bg-2);
  border: 3px solid var(--contrast-bg-2);
  border-radius: 16px;

  cursor: pointer;

  &:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);

    transform: scale(1.05);

    .start--button-icon {
      opacity: var(--opacity-full);
      stroke: var(--color-primary);
    }
  }
}

.start--button-icon {
  transition: opacity var(--animation-medium) ease, stroke var(--animation-medium) ease;

  width: 96px;
  height: 96px;

  opacity: var(--opacity-3);

  // SVG properties
  fill: none;
  stroke: black;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.start--button-text {
  font-size: 18px; // TODO: em
}

.drop-uploader--container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  &.drop-uploader--container__dropping {
    .start--uploader-visual {
      opacity: var(--opacity-full);
    }
  }
}

.start--uploader-visual {
  transition: opacity var(--animation-long) ease;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  background-color: var(--color-bg);
  color: var(--contrast-bg-2);
  opacity: 0;
}

.start--uploader-icon {
  width: 128px;
  height: 128px;

  opacity: var(--opacity-3);

  // SVG properties
  fill: none;
  stroke: black;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}