<div class="doclist--container">
  <div class="doclist--header">
    <h3>{{ 'main_page.source_list.header' | translate: { count: sourceDocuments.length } }}</h3>
  </div>

  <div class="doclist--list" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="listElementDropped($event)">
    <div class="doclist--list-item" cdkDrag *ngFor="let document of sourceDocuments; let i = index">
      <div class="doclist--list-item-drag-handle" cdkDragHandle></div>

      <div class="doclist--list-item-text">
        <h4 class="doclist--list-item-title">{{document.filename}}</h4>
        <span class="doclist--list-item-pages">{{getDocumentUsedPagesDisplayString(document)}}</span>
      </div>

      <div class="doclist--list-item-actions">
        <stp-button (clicked)="showMenu(optionsMenu)">
          <i class="material-icons">settings</i>
        </stp-button>
      </div>

      <div #optionsMenu class="doclist--list-item-options-menu-container">
        <div class="doclist--list-item-options-menu-overlay" (click)="hideMenu(optionsMenu)" draggable="false"></div>
        <div class="doclist--list-item-options-menu menu-panel" draggable="false">
          <span class="menu-header">{{ 'main_page.source_list.item_menu.include_pages.title' | translate }}</span>

          <stp-radio [(ngModel)]="document.usePages" [options]="pageOptions" [menuRadio]="true"
            [disabledOptions]="document.pageCount === 1 ? ['RANGE', 'SELECT'] : []"></stp-radio>

          <div class="menu-panel-input">
            <stp-input label="{{ 'main_page.source_list.item_menu.include_pages.input_label.range' | translate }}"
              *ngIf="document.usePages === 'RANGE'" (valueChanged)="rangeInputChange(document, $event)"
              [value]="getDocumentPageRange(document)"></stp-input>
            <stp-input label="{{ 'main_page.source_list.item_menu.include_pages.input_label.select' | translate }}"
              *ngIf="document.usePages === 'SELECT'" (valueChanged)="pagesInputChange(document, $event)"
              [value]="getDocumentPageSelection(document)"></stp-input>
          </div>

          <stp-button [menuButton]="true" (clicked)="removeDocument(document)">
            <i class="material-icons">delete</i>
            <span>{{ 'main_page.source_list.item_menu.remove' | translate }}</span>
          </stp-button>
        </div>
      </div>
    </div>
  </div>
</div>