.doclist--header {
  height: 60px;
  width: 100%;

  padding: 8px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;

  h3 {
    margin: 0;
  }
}

.doclist--list {
  width: 100%;
}

.doclist--list-item {
  height: 72px;
  width: 100%;

  padding: 8px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-bg);
  border-top: 1px solid var(--contrast-bg-3);

  &.cdk-drag-preview {
    border: 3px solid var(--color-primary);
    border-radius: var(--border-radius);
  }

  &:hover {
    .doclist--list-item-actions {
      opacity: var(--opacity-full);
      transform: scale(1);
      pointer-events: auto;
    }
  }
}

.doclist--list-item-text {
  max-width: calc(100% - 56px);

  flex-grow: 1;
}

.doclist--list-item-title {
  max-width: 100%;

  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
}

.doclist--list-item-pages {
  margin: 0.5em 0 0;

  color: var(--contrast-bg-1);
}

.doclist--list-item-actions {
  transition: opacity var(--animation-medium) ease, transform var(--animation-medium) ease;
  
  margin-left: 16px;
  
  opacity: 0;
  transform: scale(0.2);
  pointer-events: none;
}
