.button--base {
  transition: color var(--animation-medium) ease, background-color var(--animation-medium) ease;

  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius);
  color: var(--contrast-bg-2);

  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--color-primary);
  }
}

.button--base__accent {
  background-color: var(--color-primary);
  color: var(--contrast-pr-0);

  &:hover {
    background-color: var(--color-primary-dark);
    color: var(--contrast-pr-0);  
  }
}

.mat-icon + span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.span ~ .mat-icon {
  margin-left: 0.5em;
}