.button--base {
  transition: color var(--animation-medium) ease, background-color var(--animation-medium) ease;

  padding: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius);
  color: var(--contrast-bg-2);

  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--color-primary);
  }
}

.button--base__accent {
  background-color: var(--color-primary);
  color: var(--contrast-pr-0);

  &:hover {
    background-color: var(--color-primary-dark);
    color: var(--contrast-pr-0);  
  }
}

.button--base.menu-panel-item {
  height: 2.5em;
  width: 100%;
  padding: 0 1em;

  border-radius: 0;
  color: var(--contrast-bg-1);
  
  &:hover {
    color: var(--contrast-bg-1);
    background-color: var(--contrast-bg-3);
  }
}

.mat-icon + span {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.span ~ .mat-icon {
  margin-left: 0.5em;
}