<div class="settings--container">
  <div class="settings--panel">
    <div class="settings--content">
      <!-- Language -->
      <div class="settings--item-label">
        {{ 'settings.language' | translate }}
      </div>
      <div class="settings--item-field">
        <stp-select #languageSelect [options]="languageOptions" placeholder="{{ 'settings.language' | translate }}"
          [(ngModel)]="currentLanguage">
        </stp-select>
      </div>

      <!-- Developer Mode -->
      <div class="settings--item-label">
        {{ 'settings.developer_mode' | translate }}
      </div>
      <div class="settings--item-control">
        <stp-slide-toggle [(ngModel)]="developerMode"></stp-slide-toggle>
      </div>
    </div>

    <stp-button class="settings--save-button" color="accent" (click)="saveSettings()">{{ 'settings.ok' | translate }}
    </stp-button>

    <div class="settings--version-text">
      Stapler v{{version}} {{branch}}
    </div>
  </div>
</div>