<div class="settings--container">
  <div class="settings--panel">
    <div class="settings--content">
      <!-- Language -->
      <div class="settings--item-label">
        {{ 'settings.language' | translate }}
      </div>
      <div class="settings--item-control">
        <mat-form-field class="form-field-block">
          <mat-select (selectionChange)="languageChanged($event)" [value]="currentLanguage">
            <mat-option *ngFor="let language of languages" [value]="language.code">
              {{language.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Developer Mode -->
      <div class="settings--item-label">
        {{ 'settings.developer_mode' | translate }}
      </div>
      <div class="settings--item-control">
        <stp-slide-toggle [(ngModel)]="developerMode"></stp-slide-toggle>
      </div>
    </div>
  
    <stp-button class="settings--save-button" color="accent" (click)="saveSettings()">{{ 'settings.ok' | translate }}</stp-button>
  
    <div class="settings--version-text">
      Stapler v{{version}} {{branch}}
    </div>
  </div>
</div>