@import '../../../variables';
@import '../../../color_theme';

.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  padding: $sidebar-header-height 0px $sidebar-footer-height;

  background-color: color(primary);

  .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $sidebar-header-height;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    padding: 0 12px 12px;

    color: white;

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .version-text {
      width: 100%;
      text-align: center;
      font-size: 0.8em;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img.stapler-logo {
  width: 100%;
}

.action-button {
  transition: background-color 0.35s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 96px;
  height: 96px;
  margin-bottom: 8px;

  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-radius: $component-border-radius;

  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }

  img {
    width: 64px;
    height: 64px;
  }

  p.button-text {
    margin: 0.4em 0 0 0;
  }
}