.slide-toggle--container {
  transition: background-color var(--animation-medium) ease;
  
  box-sizing: content-box;
  width: 2rem;
  height: 1rem;

  padding: 0.1875rem;

  cursor: pointer;
  background-color: var(--contrast-bg-2);
  border-radius: var(--border-radius);

  &.slide-toggle__toggled {
    background-color: var(--color-primary);
  }
}

.slide-toggle--knob {
  transition: margin-left var(--animation-medium) ease;
  
  width: 1rem;
  height: 1rem;
  
  pointer-events: none;
  background-color: var(--color-bg);
  border-radius: 5px;

  &.slide-toggle__toggled {
    margin-left: 1rem;
  }
}