// Global style variables used across the app

:root {
  --border-radius: 8px;

  --header-height: 56px;
  --content-height: calc(100% - 56px);

  --animation-short: 150ms;
  --animation-medium: 250ms;
  --animation-long: 400ms;
}