/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@import "material_theme";
@import "material_icons";
@import "variables";
@import "color_theme";

// Resets
body {
  color: var(--contrast-bg-0);
  font-family: "Roboto";
  margin: 0px;
}

* {
  box-sizing: border-box;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: none; // Removes stupid gross ugly very bad no good chrome highlighting on inputs
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

// General styles
div.border-card {
  background-color: var(--color-bg);
  border: 1px solid var(--contrast-bg-3);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  z-index: 10000;
}

.menu-panel {
  background-color: var(--color-bg-alt);
  border: 1px solid var(--contrast-bg-3);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.menu-panel-item {
  height: 2.5em;
  padding: 0 1em;

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--contrast-bg-3);
  }

  & + .menu-panel-item {
    border-top: 1px solid var(--contrast-bg-3);
  }
}

// Material menu parts
.menu-header {
  color: var(--contrast-bg-1);
  margin: 16px 16px 8px;
}

.menu-radio-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 0px;
  padding: 0px;
}

.menu-form-field {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
}

.tooltip-square {
  border-radius: 0px !important;
  font-size: 0.8em;
}

// Text color classes
.text-light {
  color: var(--contrast-bg-1);
}

.text-disabled {
  color: var(--contrast-bg-2);
}

// CDK drag styles
.cdk-drag-animating {
  transition: transform var(--animation-medium) cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background-color: var(--contrast-bg-3);
  z-index: 1;

  & > * {
    opacity: 0;
  }
}
